@import "tailwindcss";

@theme {
  --color-accent: #c29926;
  --color-secondary: #f98305;
  --color-bg: #222327;
  --color-bg-secondary: #25262c;
  --color-player-bg: #2f3034;
}

a{
    text-decoration: inherit;
    cursor: pointer;
}


body {
  @apply bg-bg;
  margin: 0;
  min-width: 320px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  padding: 20px;
}
